Signal.trap("INT") { exit 1 }

# Should not buffer stdout and strerr
$stdout.sync = true
$stderr.sync = true

require "rubygems"
require "bundler/setup"
require "lucie"
# require "lucie-cmd"

root = ARGV.shift

App.run(ARGV, File.expand_path("../..", __FILE__), root)